@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#bootstrap-overrides body{
  margin:auto;
  width: 50%;
}
*{
  text-align: center;
}

#bootstrap-overrides form input{
  width:20rem;
  margin:auto;
}
#bootstrap-overrides h1{
  font-family: 'Roboto', sans-serif;
  margin-top:5rem;
  margin-bottom:1rem;
}
Form{
  margin-bottom:1rem;
}
#bootstrap-overrides .heading{
  display: block;
  background-color: rgb(191, 169, 212);
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  margin-left: 30px;
}
.card{
  float: left;
  margin-left: 17rem;
  margin-right:10rem;
}
img{
  width:400px;
  height: 400px;
}
.main-content{
  display:block;
  margin-bottom: 20px;
}
#weather-content{
  margin-top: 25px;
}
#weather-content>div{
margin-left: 0px;
margin-right: 0px;
float: none;
display: inline-block;
}
#weather-content>div:nth-child(odd){
  background-color: darkcyan;
  color: aliceblue;
  }
.movie{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  float: left;
  margin-top:60px;
  justify-content:center;
  grid-row-gap: 30px;
}

.movie .card{
  float: left;
  margin-left: 100px;
  margin-right:100px;
  overflow: hidden;

}
.movie .card .card-body{
  height:250px;
  overflow:scroll;
}
.card-body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.footer{
  background-color: #6a758a;
  color:white;
  width:100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  margin-top:25px; 
}